[Unit]
Requires=bridge-postgresql.service link.service
After=bridge-postgresql.service link.service

[Container]
ContainerName=bridge-whatsapp
Environment=BRIDGE_FRONTEND_URL=http://systemd-link:3000/link
EnvironmentFile=common-bridge.env
ExposeHostPort=5000
Image=registry.gitlab.com/digiresilience/link/link-stack/bridge-whatsapp:3.1.0b2
Volume=/home/{{ podman_link_podman_rootless_user }}/bridge-whatsapp-data:/home/node/baileys
Network=link.network


[Service]
Restart=always
Slice=link.slice