[Unit]
Requires=zammad-memcached.service zammad-railsserver.service zammad-redis.service
After=zammad-memcached.service zammad-railsserver.service zammad-redis.service

[Container]
ContainerName=zammad-websocket
EnvironmentFile=common-zammad.env
Exec=zammad-websocket
Image=registry.gitlab.com/digiresilience/link/link-stack/zammad:3.1.0b2
Volume=/home/{{ podman_link_podman_rootless_user }}/zammad-var:/opt/zammad/var
Volume=/home/{{ podman_link_podman_rootless_user }}/zammad-storage:/opt/zammad/storage
Network=link.network

[Service]
Restart=always
Slice=link.slice